h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 30%;
}

/* Add this CSS to stylesheet or component's CSS file */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fixed-width-button {
  width: 6rem;
  text-align: center;
}

.edit_picture {
  position: relative;
  width: 8rem;
  border: 0rem;
  border-radius: 50%;
}

.edit_picture::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-image: url("../images/editphoto.png");
  background-size: contain;
  background-color: azure;
}

@media (max-width: 768px) {
  .bg__col1 {
    background-image: url("../images/Illustrasi\ Login.png");
    background-size: contain;
    background-position: top;
  }
}
